h1 {  
    text-align: center;  
    padding: 23px;  
    background-color: skyblue;  
    color: white;  
    }  
  
.clear{  
    min-width: 140px;  
    border: 3px solid ;  
    border-radius: 3px;  
    padding: 20px;  
    background-color: red; 
    cursor: pointer; 
}  
  
.formstyle  
{  
width: 290px;  
height: 500px;  
margin: auto;  
border: 3px solid black;  
border-radius: 5px;  
padding: 20px;  
background-color: rgb(213, 212, 212);
}  

p{
    position:relative;
    bottom: 100px;
}

input  
{  
    min-width: 58px;  
    max-width: 58px;
    background-color: white; 
    border: 3px solid black;
    color: black;  
    border-radius: 5px;  
    min-height: 75px;
    max-height: 75px;
    margin: 5px;  
    font-size: 30px;  
    text-align: center;
    cursor: pointer;
}  

#calc{
    background-color: rgb(113, 177, 113);
    width: 250px;  
    border: 1px solid black;  
    border-radius: 3px;  
    padding: 15px;
    max-height: 50px;
    min-height: 50px;
}

.button, .buttonEqual{
    min-width: 58px;  
    max-width: 58px;
    color: black;    
    min-height: 75px;
    max-height: 75px; 
    font-size: 30px;  
    text-align: center;
    cursor: pointer; 
    background-color: rgb(37, 168, 37); 
    border: 3px solid green;
    color: black;  
    border-radius: 5px;  
    margin: 5px;  
}

input:hover, button:hover{
    opacity: 70%;
}

